<div class="row">
  <div class="offset-md-4 col-4">
    <div class="card trans-light">
        <h1 class="text-center font-weight-bold">Login</h1>
        <%= render 'form' %>
        <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
