<% unless notice.nil? %>
<div id="notice" class="alert alert-warning alert-dismissible fade show my-2">
  <%= notice %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>
<div class="jumbotron m-5 trans-light text-center">
  <h1 class="display-4">RainPaste</h1>
  <p class="lead">You can upload text files and sharing it easily with this tool</p>
  <hr class="my-4">
  <%= link_to "New Paste", new_paste_path, class: "btn btn-primary btn-lg" %>
  <a class="btn btn-info btn-lg" href="#">About</a>
</div>
