<div class="jumbotron m-5">
  <h1 class="display-4">RainPaste</h1>
  <p class="lead">You can upload text files and sharing it easily with this tool</p>
  <hr class="my-4">
  <%= link_to "New Paste", new_paste_path, class: "btn btn-primary btn-lg" %>
</div>
