@import "rouge";
@import "_variables";
@import "bootstrap";
@import "_bootswatch";

body {
  height: 100%;
  background-image: image_url("gota-background.png");
}

.trans-light {
  background-color: rgba(#e7f0ff, 0.9);
}
