<select id="expired" name="paste[expired_at]" class="custom-select">
    <option value="60">1 hour</option>
    <option value="120">2 hours</option>
    <option value="240">4 hours</option>
    <option value="480">8 hours</option>
    <option value="1440">24 hours</option>
</select>
