<select id="language" name="paste[language]" class="custom-select">
    <option value="plain_text">None</option>
    <option value="apache">Apache</option>
    <option value="actionscript">Action Script</option>
    <option value="viml">Vim Script</option>
</select>
