<h1>Editing Paste</h1>

<%= render 'form', paste: @paste %>

<div class="m-1">
    <%= link_to 'Show', @paste, class: 'btn btn-warning' %> |
    <%= link_to 'Back', pastes_path, class: 'btn btn-secondary' %>
</div>
