<div class="card trans-light">
    <h1 class="text-center font-weight-bold py-2">New Paste</h1>
    <%= render 'form', paste: @paste %>
    <br />
    <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
</div>
