<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if current_user %>
        <li class="nav-item">
        <a class="nav-link" href="#">My pastes</a>
        </li>
        <li class="nav-item">
        <%= link_to "Logout", :logout, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= "User: #{current_user.email}" %> </a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <% else %>
        <li class="nav-item">
        <%= link_to "Register", :signup, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <%= link_to "Login", :login, class: "nav-link" %>
        </li>
    </ul>
    <% end %>
    </div>
</nav>
